<a href="https://colab.research.google.com/github/19PA1A0509/svm/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing our packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.svm import SVC as svc
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [3]:
data = pd.read_csv("id.csv")      #To read the data
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
data.isna().any()       #checking if there are any na's in the dataset

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [0]:
x = data[["sepal_length","sepal_width","petal_length","petal_width"]]   #Giving the first four columns as features 
y = data[["species"]]                                                   #Giving the last as label

In [11]:
x_train, x_test, y_train, y_test = tts(x, y, test_size = 0.2, random_state = 42)    #random_state = 42 and test_size = 0.2
x_train, x_test, y_train, y_test

(     sepal_length  sepal_width  petal_length  petal_width
 22            4.6          3.6           1.0          0.2
 15            5.7          4.4           1.5          0.4
 65            6.7          3.1           4.4          1.4
 11            4.8          3.4           1.6          0.2
 42            4.4          3.2           1.3          0.2
 ..            ...          ...           ...          ...
 71            6.1          2.8           4.0          1.3
 106           4.9          2.5           4.5          1.7
 14            5.8          4.0           1.2          0.2
 92            5.8          2.6           4.0          1.2
 102           7.1          3.0           5.9          2.1

 [120 rows x 4 columns],
      sepal_length  sepal_width  petal_length  petal_width
 73            6.1          2.8           4.7          1.2
 18            5.7          3.8           1.7          0.3
 118           7.7          2.6           6.9          2.3
 78            6.0          2.9           4.5          1.5
 76            6.8          2.8           4.8          1.4
 31            5.4          3.4           1.5          0.4
 64            5.6          2.9           3.6          1.3
 141           6.9          3.1           5.1          2.3
 68            6.2          2.2           4.5          1.5
 82            5.8          2.7           3.9          1.2
 110           6.5          3.2           5.1          2.0
 12            4.8          3.0           1.4          0.1
 36            5.5          3.5           1.3          0.2
 9             4.9          3.1           1.5          0.1
 19            5.1          3.8           1.5          0.3
 56            6.3          3.3           4.7          1.6
 104           6.5          3.0           5.8          2.2
 69            5.6          2.5           3.9          1.1
 55            5.7          2.8           4.5          1.3
 132           6.4          2.8           5.6          2.2
 29            4.7          3.2           1.6          0.2
 127           6.1          3.0           4.9          1.8
 26            5.0          3.4           1.6          0.4
 128           6.4          2.8           5.6          2.1
 131           7.9          3.8           6.4          2.0
 145           6.7          3.0           5.2          2.3
 108           6.7          2.5           5.8          1.8
 143           6.8          3.2           5.9          2.3
 45            4.8          3.0           1.4          0.3
 30            4.8          3.1           1.6          0.2,
         species
 22       setosa
 15       setosa
 65   versicolor
 11       setosa
 42       setosa
 ..          ...
 71   versicolor
 106   virginica
 14       setosa
 92   versicolor
 102   virginica

 [120 rows x 1 columns],
         species
 73   versicolor
 18       setosa
 118   virginica
 78   versicolor
 76   versicolor
 31       setosa
 64   versicolor
 141   virginica
 68   versicolor
 82   versicolor
 110   virginica
 12       setosa
 36       setosa
 9        setosa
 19       setosa
 56   versicolor
 104   virginica
 69   versicolor
 55   versicolor
 132   virginica
 29       setosa
 127   virginica
 26       setosa
 128   virginica
 131   virginica
 145   virginica
 108   virginica
 143   virginica
 45       setosa
 30       setosa)

In [12]:
svrm = svc()    #svrm is Support Vector Regressor Model
svrm.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [13]:
y_pred = svrm.predict(x_test)          #predicting the x_test data
y_pred

array(['versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa'], dtype=object)

In [14]:
metrics.confusion_matrix(y_test,y_pred)        #making the confusion matrix

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]])

In the value of correct predictions to the total predictions,the fraction value is accuracy.

In [17]:
metrics.accuracy_score(y_test,y_pred)     #Finding out accuracy

0.9583333333333334

Precision is defined as the number of true positives over the number of true positives plus the number of false positives

In [18]:
metrics.precision_score(y_test,y_pred, average = 'weighted')      #finding the precission

0.9618055555555555